@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --light-gray: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --orange: hsl(25, 97%, 53%);
}

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
    background-color: var(--very-dark-blue);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 400px;
    width: 400px;
    background-color: var(--dark-blue);
    /* background-color: var(--very-dark-blue); */
    padding: 40px;
    border-radius: 40px;
    overflow: hidden;
}

.page {
    display: none;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.current_page {
    display: flex;
}

#rating_page .img_wrapper {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #3D3C3C;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rating_page h1 {
    margin-bottom: 0;
}

#rating_page p {
    color: var(--light-gray);
    line-height: 25px;
    padding-right: 10px;
    margin: 0;
}

#rating_page ul {
    list-style: none;
    display: flex;
    padding: 0;
    color: var(--light-gray);
    justify-content: space-around;
}

.rating_number {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3D3C3C;
    transition: ease-in 0.2s;
}

.rating_number:hover {
    background-color: var(--orange);
    color: white;
}

.rating_number.active {
    background-color: var(--medium-gray);
    color: white;
}

.btn {
    background-color: var(--orange);
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
    border-radius: 20px;
    height: 40px;
    transition: ease-in 0.2s;
}

.btn:hover {
    background-color: white;
    color: var(--orange);
}


/* Second page */
#thanks_page {
    align-items: center;
    justify-content: flex-start;
}

#thanks_page img {
    height: 120px;
    width: auto;
    margin-bottom: 40px;
}

#thanks_page #result-text {
    margin: 0;
    margin-bottom: 50px;
    color: var(--orange);
    font-size: 15px;
    background-color: var(--very-dark-blue);
    border-radius: 40px;
    padding: 7px 15px;
}

#thanks_page em {
    font-weight: 700;
    font-size: 35px;
}

#thanks_page p {
    color: var(--light-gray);
    text-align: center;
    line-height: 27px;
}

@media screen and (max-width: 550px) {
    .container {
        width: 300px;
        padding: 20px;
    }

    #rating_page p {
        font-size: 0.9em;
    }
}