@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

body {
    font-family: 'Nunito Sans';
    font-weight: 600;
}

.App {
    background-color: var(--primary-color);
    height: 100%;
    color: var(--font-primary-color);
    transition: all 300ms ease;
    min-height: 100vh;
}

.container {
    padding: 0 110px;
}